<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
    
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >  
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">  
    	<param name="Threshold" value="info" />
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss\} %p %t %c:%L-%m%n" />  
        </layout>
    </appender>  
   
    <appender name="debug_file" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="Threshold" value="debug" />
        <param name="File" value="logs/debug.txt" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss\} %p %t %c:%L-%m%n" />
        </layout>  
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="debug" />
            <param name="levelMax" value="debug" />
        </filter>
    </appender>  
    <appender name="info_file" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="Threshold" value="info" />
        <param name="File" value="logs/info.txt" />  
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss\} %p %t %c:%L-%m%n" />
        </layout>  
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="info" />
            <param name="levelMax" value="info" />
        </filter>
    </appender>  
    <appender name="error_file" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="Threshold" value="error" />
        <param name="File" value="logs/error.txt" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss\} %p %t %c:%L-%m%n" /> 
        </layout>  
    </appender>  
  
    <!-- 根logger的设置-->  
    <root>  
        <priority value="debug"/>  
        <appender-ref ref="console"/>  
        <!-- <appender-ref ref="debug_file"/>    
        <appender-ref ref="info_file"/>    
        <appender-ref ref="error_file"/>  -->   
    </root>  
</log4j:configuration> 