<!DOCTYPE html>
<html>
<head>
#parse("/common/var.vm")
<title>$!{title}</title>
#parse("/common/head_jquery.vm")

<link rel="stylesheet" type="text/css" href="/moduel/utils/css/jquery.fullPage.css" />
<link rel="stylesheet" type="text/css" href="/moduel/utils/css/fullpage_nav.css" />
<link rel="stylesheet" type="text/css" href="/moduel/utils/css/show_main.css" />
<link rel="stylesheet" type="text/css" href="/moduel/utils/css/show_content.css" />
<link rel="stylesheet" type="text/css" href="/moduel/utils/css/input_cover.css" />

<script type="text/javascript" src="/moduel/utils/js/jquery.fullPage.js"></script>
<script type="text/javascript" src="/moduel/utils/js/fullmain.js"></script>

</head>
<body>

<ul id="menu">
	<li data-menuanchor="Tel"><a href="#Tel">Tel</a></li>
	<li data-menuanchor="IP"><a href="#IP">IP</a></li>
	<li data-menuanchor="Domain"><a href="#Domain">Domain</a></li>
	<li data-menuanchor="IdCard"><a href="#IdCard">ID</a></li>
</ul>

<div id="fullpage">
	<div class="section " id="section0">
		<div class="wrapper show_utils" id="show_tel">
			<div class="browserbar"></div>
			<div class="query_nav">
				<!-- Tel <input type="text" id="tel" value=""/> 
				<button id="queryTel">Query</button> -->
				<div class="panel-inner"> 
					<div class="wrap">
				    	<input type="text" id="tel" placeholder="Your Tel here"/>
				    	<!-- <button class="btn" id="queryTel">Query</button> -->
				    	<a href="" class="btn" id="queryTel">Query</a>
				  	</div>
				</div>
			</div>
			<div class="query_resp">
				<table id="telDiv" style="display:none;">
					<tr><td class="right">号段</td><td id="num"></td></tr>
					<tr><td class="right">省</td><td id="prov"></td></tr>
					<tr><td class="right">市</td><td id="city"></td></tr>
					<tr><td class="right">运营商</td><td id="name"></td></tr>
					<tr><td class="right">邮政编码</td><td id="postCode"></td></tr>
					<tr><td class="right">省别编码</td><td id="provCode"></td></tr>
				</table>
			</div>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="wrapper show_utils" id="show_ip">
			<div class="browserbar"></div>
			<div class="query_nav">
				<!-- IP <input type="text" id="ip" value=""/> 
				<button id="queryIP">Query</button> -->
				<div class="panel-inner"> 
					<div class="wrap">
				    	<input type="text" id="ip" placeholder="Your ip here"/>
				    	<a href="" class="btn" id="queryIP">Query</a>
				  	</div>
				</div>
			</div>
			<div class="query_resp">
				<table id="ipDiv" style="display:none;">
					<tr><td>IP</td><td id="ip"></td></tr>
					<tr><td>运营商</td><td id="isp"></td></tr>
					<tr><td>国家</td><td id="country"></td></tr>
					<tr><td>市级 </td><td id="city"></td></tr>
					<tr><td>县级</td><td id="county"></td></tr>
					<tr><td>省级</td><td id="region"></td></tr>
				</table>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="wrapper show_utils" id="show_domain">
			<div class="browserbar"></div>
			<div class="query_nav">
				<div class="panel"> 
					<div class="wrap">
				    	<input type="text" id="domain" placeholder="Your domain here"/>
				    	<a href="" class="btn" id="queryDomain">Query</a>
				  	</div>
				</div>
			</div>
			<div class="query_resp">
				<div id="domainDiv">
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="wrapper show_utils" id="show_id">
			<div class="browserbar"></div>
			<div class="query_nav">
				<!-- ID <input type="text" id="ID" value=""/>
				<button id="queryID">Query</button> -->
				<div class="panel"> 
					<div class="wrap">
				    	<input type="text" id="ID" placeholder="Your id here"/>
				    	<a href="" class="btn" id="queryID">Query</a>
				  	</div>
				</div>
			</div>
			<div class="query_resp">
				<div id="idDiv">
				</div>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>