<!DOCTYPE html>
<html>
<head>
#parse("/common/var.vm")
<title>$!{title}</title>
#parse("/common/head_jquery.vm")

<link rel="stylesheet" type="text/css" href="/moduel/utils/css/jquery.fullPage.css" />
<link rel="stylesheet" type="text/css" href="/moduel/utils/css/fullpage_nav.css" />
<link rel="stylesheet" type="text/css" href="/moduel/utils/css/show_main.css" />
<link rel="stylesheet" type="text/css" href="/moduel/utils/css/show_content.css" />
<link rel="stylesheet" type="text/css" href="/moduel/utils/css/input_cover.css" />

<script type="text/javascript" src="/moduel/utils/js/jquery.fullPage.js"></script>
<script type="text/javascript" src="/moduel/utils/js/fullmain.js"></script>

</head>
<body>

<ul id="menu">
	<li data-menuanchor="Tel"><a href="#Tel">Tel</a></li>
	<li data-menuanchor="IP"><a href="#IP">IP</a></li>
	<li data-menuanchor="Domain"><a href="#Domain">Domain</a></li>
	<li data-menuanchor="IdCard"><a href="#IdCard">ID</a></li>
</ul>

<div id="fullpage">
	<div class="section " id="section0">
		<div class="wrapper show_utils" id="show_tel">
			<div class="browserbar"></div>
			<div class="query_nav">
				
			</div>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="wrapper show_utils" id="show_ip">
			<div class="browserbar"></div>
			<div class="query_nav">
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="wrapper show_utils" id="show_domain">
			<div class="browserbar"></div>
			<div class="query_nav">
			</div>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="wrapper show_utils" id="show_id">
			<div class="browserbar"></div>
			<div class="query_nav">
			</div>
		</div>
	</div>
</div>
	
</body>
</html>