/* body *,body *:before, body *:after{  box-sizing: border-box; } */

body {
	font-size: 14px;
	margin:0px;
	bottom:0px;
	overflow: hidden;
	box-sizing: border-box;
	/* background-repeat:no-repeat;
	background-image: url("/images/back2.gif");
	background-size:cover;
	background-color: transparent;
	z-index:-120; */
}

#bg {
    width: 100%;
    height: 100%;
    z-index:-100;
    position: absolute;
}
#raining {
	position: absolute;
	z-index:-80;
	opacity: 1;
}
#body_back {
	position: absolute;
	width:100%;
	height:100%;
	top:0;
}


#body_menu, #show_menu {
	background:rgba(255, 255, 255, 0.3);
	position:fixed;
	padding:0px;
	margin:0px;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	text-align:center;
}

#body_menu > span, #show_menu > span{
	margin:10px;
	height:35px;
	line-height: 55px;
}
#body_menu li, #show_menu li {
	display:inline-block;
	color: #000;
	min-width:90px;
	background: #C2EDF4;
	margin:10px 10px;
	-webkit-border-radius: 5px;
            border-radius: 5px;
}
#show_menu li {
	min-width:70px;
	margin:10px 2px;
}
#body_menu li.active, #show_menu li.active{
	background: #39B3D7;
	color: #fff;
}
#body_menu li a, #show_menu li a{
	text-decoration:none;
	color: #000;
}
#body_menu li.active a:hover, #show_menu li.active a:hover{
	color: #000;
}
#body_menu li:hover, #show_menu li:hover{
	background: #39B3D7;
}
#body_menu li a, #body_menu li.active a{
	padding: 8px 16px;
	display:block;
}
#show_menu li a, #show_menu li.active a{
	padding: 8px 5px;
	display:block;
}
#body_menu li.active a, #show_menu li.active a{
	color: #fff;
}

#body_menu li a:focus, #show_menu li a:focus{
	outline:none;
	-moz-outline:none;
}

#body_main {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/* background: #76a0c0; */
	background: rgba(238, 130, 238, 0.2) none repeat scroll 0% 0%;
	border-radius: 15px;
	width: 1080px;
	margin: 0px auto 0px;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 50px 2px #B0D0EB;
}

#body_main > div{
	background:#fff;
	min-height:480px;
	display: none;
	border-radius: 15px;
	/* border:5px solid red; */
	padding:10px;/* 40 */
}
#body_main .wrapper{
}
#body_main .item {
	background :rgba(255, 193, 193, 0.6) none repeat scroll 0% 0%;
	float:left;
	height:120px;
	width:225px; /* 1000 */
	border-radius: 10px;
	margin:10px;
	padding:10px;
	/* 200 */
}

#body_main .item:hover {
	animation: glow 800ms ease-out infinite alternate;
	border-color: #393;
	/* box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000; */
	outline: none;
}
.clear{ clear:both}

#body_main .item .item-icon {
	background:rgb(155, 205, 155) none repeat scroll 0% 0%;
	padding: 2px;
	display: inline-block;
	border-radius: 6px;
	height: 50px;
	width: 70px;
	text-align: center;
	line-height:50px;
	text-shadow: 0px 0.05rem rgba(0, 0, 0, 0.8), 0px 0.3rem 0.4rem rgba(0, 0, 0, 0.2), 0px -0.2rem 0.4rem rgba(255, 255, 255, 0.2);
	/* box-shadow: 0px 0.3rem 0.2rem rgba(255, 255, 255, 0.2) inset, 0px -0.3rem 0.2rem rgba(0, 0, 0, 0.2) inset, 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.2); */

}
#body_main .item .item-desc {
	padding-top: 15px;
	display: block;
	font-family: /* "Gorditas", */"KaiTi",Arial,sans-serif;
	font-size: 18px;
}
#body_main .item .item-go {
	width:35px;
	float: right;
	right: 15px;
	bottom: 0px;
	position: relative;
}
#body_main .item .item-go a{
	background-repeat:no-repeat;
	background-image: url("/moduel/index/img/arrow.png");
	background-size:50px 30px;
	background-color: transparent;
	padding:4px 25px;
	position: relative;
	outline: none;
}

@-webkit-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2);
    }
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6);
    }
}

@-moz-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2);
    }
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6);
    }
}

@-o-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2);
    }
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6);
    }
}

@-ms-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2);
    }
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6);
    }
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2);
    }
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6);
    }
}