<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- 代表annotation配置 -->
	<context:annotation-config />

	<!-- 到指定的包内扫描组件 -->
	<context:component-scan base-package="com.webapp" />
	
	<aop:aspectj-autoproxy/>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
           <list>  
              <value>classpath*:build_dev.properties</value>
           </list>  
        </property>  
        <property name="ignoreResourceNotFound" value="true" />
        <property name="fileEncoding" value="utf-8"/>
    </bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${username}"></property>
		<property name="password" value="${password}"></property>
		<property name="maxIdle" value="30"></property>
		<!-- <property name="maxActive" value="100"></property> -->
		<!-- <property name="numActive" value="100"></property> -->
		<!-- <property name="maxWait" value="2000"></property> -->
		<property name="maxWaitMillis" value="2000"></property>
		<property name="testOnBorrow" value="true"></property>
		<property name="testOnReturn" value="true"></property>
		<property name="validationQuery" value="1"></property>
		<property name="defaultAutoCommit" value="true"></property>
	</bean>
	
	<bean id="multiDataSource" class="com.webapp.datasource.MultiDataSource">
        <property name="defaultTargetDataSource" ref="dataSource"/>
        <property name="targetDataSources">
            <map>
                <entry key="dataSource" value-ref="dataSource"/>
            </map>
        </property>
    </bean>
    
    <!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="multiDataSource"/>
    </bean> -->
	
	<!-- <bean id="result" name="result" class="com.webapp.entity.Result"></bean> -->
	
</beans>