<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- <mvc:velocity-configurer resource-loader-path="/WEB-INF/view/"/>
	<mvc:freemarker-configurer>
		<mvc:template-loader-path location="/WEB-INF/view/"/>
	</mvc:freemarker-configurer>
	
    <mvc:view-resolvers>
    	<mvc:velocity cache-views="false" suffix=".vm" prefix="/"/>
    	<mvc:freemarker cache-views="false" suffix=".ftl" prefix="/"/>
    	<mvc:jsp cache-views="false" suffix=".jsp" prefix="/WEB-INF/view/"/>
    </mvc:view-resolvers> -->

	<!-- 多视图配置 -->
	<bean id="viewResolver" class="com.webapp.config.MultiViewResover">  
        <property name="resolvers">  
            <map>  
                <entry key="jsp" value-ref="jspViewResolver" />  
                <entry key="ftl" value-ref="freemarkerViewResolver" />  
                <entry key="vm" value-ref="velocityViewResolver" />  
            </map>  
        </property>  
    </bean>

	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       <property name="prefix" value="/WEB-INF/view/" />
       <property name="suffix" value=".jsp" />
       <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
	</bean>
	
	<!-- velocity环境配置  视图解析器-->  
    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">  
        <property name="configLocation" value="classpath:velocity.properties"/>  
        <property name="resourceLoaderPath" value="/WEB-INF/view/"/>  
    </bean>  
    <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">  
        <property name="cache" value="false"/>  
        <property name="prefix" value="/"/>  
        <property name="suffix" value=".vm"/>  
        <property name="contentType" value="text/html;charset=UTF-8" />  
    </bean>
    
    <!-- FreeMarker环境配置 -->  
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
        <property name="templateLoaderPath" value="/WEB-INF/view/"/>  
    </bean> 
    <bean id="freemarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">  
        <property name="cache" value="false"/>  
        <property name="prefix" value="/"/>  
        <property name="suffix" value=".ftl"/>    
    </bean>
    
</beans>
