
/* input[type="button"] {
    margin: 100px 20px;
    padding: 10px;
} */


.show_utils .query_nav {
	margin-top:25px;
}
/* .show_utils .query_nav input {
	margin-top:40px;
	width: 250px;
	height:20px; 
} */
.show_utils .query_resp {
}
.show_utils .query_resp table{
	margin:40px auto;
	border-collapse: collapse;
}
.show_utils .query_resp table .right{
	text-align: right;
}
.show_utils .query_resp table td{
	width:200px;
	padding: 5px 20px;
	border: 1px solid #D5AC80;
	text-align: left;
}
